<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetSupport.Properties.Settings>
            <setting name="SupportHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SupportPort" serializeAs="String">
                <value>222</value>
            </setting>
            <setting name="FwdRemotePort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="FwdLocalHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="FwdLocalPort" serializeAs="String">
                <value>3389</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </NetSupport.Properties.Settings>
    </userSettings>
</configuration>